body {
  font-family: "Lucida Bright", Georgia, serif;  
}

h1 {
  font-size: 64pt;
  text-align: left;
}

img {
  border: 12px solid green; 
}

div.flash {
  border: 1px solid red;
  text-align:center;
  padding: 20px;
  width: 100%;
}